.third {
  &.fadeout {
    transform: translateY(-100%);
    opacity: 0;
  }
  display: block;
  padding: 50px 28px;
  text-align: left;
  letter-spacing: 3px;
  font-size: 23px;
  line-height: 36px;
  opacity: 1;
  transform: none;
  transition: opacity 6s, transform 6s;
  .title {

  }
  .body {

  }
  .love {
    text-align: right;
  }
  .name {
    text-align: right;
  }
}
