@keyframes show-envelope {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes enlarge-envelope {
  from: {
    transform: none;
  }
  to {
    transform: scale(60.0, 60.0);
  }
}

@keyframes show-word {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes hide-second-page {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.second {
  padding: 10.5vh 0;
  &.open {
    animation-name: hide-second-page;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
  .icon {
    position: relative;
    text-align: center;
    flex: 0 1 100%;
    animation-name: show-envelope;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 9.6s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 120px;
    img {
      width: 68px;
      height: 68px;
      transition: transform 1.2s ease-in-out;
      &.open {
        transform: scale(5.0, 5.0);
        animation-name: enlarge-envelope;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        animation-duration: 1.2s;
      }
    }
    .prompt {
      position: absolute;
      left: calc(50% + 34px + 32px);
      top: 35%;
      letter-spacing: 4px;
      font-size: 13px;
      opacity: 0;
      animation-name: show-envelope;
      animation-duration: 1.6s;
      animation-timing-function: ease-in-out;
      animation-delay: 11.2s;
      animation-fill-mode: forwards;
    }
  }

  .today {
    margin-bottom: 24px;
    text-align: center;
    flex: 0 1 100%;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    animation-name: show-word;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: forwards;
  }

  .weareapart {
    margin-bottom: 24px;
    text-align: center;
    flex: 0 1 100%;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    animation-name: show-word;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 3.2s;
    animation-fill-mode: forwards;
  }

  .cannot {
    margin-bottom: 24px;
    text-align: center;
    flex: 0 1 100%;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    animation-name: show-word;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 5.6s;
    animation-fill-mode: forwards;
  }

  .soi {
    margin-bottom: 24px;
    text-align: center;
    flex: 0 1 100%;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    animation-name: show-word;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 8s;
    animation-fill-mode: forwards;
  }

  .please {
    text-align: center;
    flex: 0 1 100%;
    font-size: 20px;
    letter-spacing: 3px;
    opacity: 0;
    animation-name: show-word;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;
    animation-delay: 9.6s;
    animation-fill-mode: forwards;
  }
}
